body {
     text-align: center;
     margin: 0px auto;
     margin-top: 120px;
     padding: 100px;
     border-radius: 20px;    
}

h1 {
     text-align: center;
}

p {
     text-align: center;
}

div{
     text-align: center;
}